.App {
  text-align: center;
  background: white;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f9fafb;
}

.logo {
  height: 100px;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  background: white;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}
.App-header {
 
 
  font-size: calc(10px + 2vmin);
  color: #64748B;
  padding-top: 60px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  height: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #1E293B;
  font-weight: 500;
}
